:root {
  --primary-color: #33FFDA;
  --secondary-color: #3358FF;
  --tertiary-color: #E9EAED;
  --quaternary-color: #6ee041;
  --quinary-color: #33BEFF;
  --senary-color: #F85767;
  --septenary-color: #895BDB;
  --octonary-color: #525252;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--tertiary-color);
  font-size: 16px;
  line-height: 1;
}

.container {
  max-width: 1024px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--octonary-color);
  border-left: 1px solid rgb(82, 82, 82);
  padding: 10px;
  letter-spacing: 1px;
}

.jumbotron {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  text-align: center;
  color: white;
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border-bottom: 10px solid var(--octonary-color);
}

#resetBtn {
  margin-top: 10px;
}

.description {
  white-space: pre-wrap;
  font-weight: 600;
}

.task-text {
  color: white;
  text-align: justify;
}

.task-block {
  text-align: justify;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: var(--quaternary-color);
  color: var(--octonary-color);
  padding-top: 27px;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 500;
}

.past {
  background-color: var(--tertiary-color);
  border-radius: 15px;
  color: white;
}

.present {
  background-color: var(--senary-color);
  border-radius: 15px;
}

.future {
  background-color: var(--primary-color);
  border-radius: 15px;
}

.saveBtn {
  border-left: 1px solid var(--octonary-color);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--quinary-color);
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}